* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.debug {
    border: 1px dashed darkred;
}
.w-100 {
    width: 100%;
}

/* BUTTONS */
.btn-orange {
    background-color: #cd3d0f;
    border-radius: 25px;
    color: white;
}

.btn-gray {
    background-color: #d9dadc;
}



/* */
#jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 40%;
    padding-bottom: 10%;
}
#game {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.la-rounded {
    border-radius: 20px;
}
.la-list-none {
    list-style-type: none;
}


/* BG */
.la-gray {
    background-color: #bebcbb;
}
.la-dark-blue {
    background-color: #161c3b;
}
.la-blue {
    background-color: #00439c;
}